.message-con{
    position: absolute;
    top: 10vh;
    right: -100%;
    background-color: #ffff;
    padding: .5em 1em;
    border-radius: 4px;
    border-left: .4em solid rgb(40, 193, 40);
    display: flex;
    align-items: center;
    gap: .6em;
    transition: .6s all;
    box-shadow: 0 1px 3px -1px #e6ebf0, 0 2px 5px -1px #a3a9c0;
    &.active{
      right: 5vh;
    }
    h5{
      margin: 0;
    }
    .image-con{
      width: 2.5em;
    }
  }